#include <winuser.h>
#include <winnt.h>

#define stringify(v1) #v1
#define quote(v1)  stringify(v1)

#define NVER  NVER1.NVER2.NVER3.NVER4

IDI_ICON1       ICON    DISCARDABLE     "img/icon.svg"
IDR_APP_ICON    ICON                    "img/icon.svg"
